{{template "base" .}}
{{define "content"}}
    <h1>This is the about page</h1>
    <h2>This text from server:: {{index .StringMap "test"}}</h2>
    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            Remote ip:  {{index .StringMap "remote_ip"}}
        {{else}}
            Failed to get the RemoteIp
        {{end}}
    </p>
{{end}}
